<div class="db-layout">
  <div class="db-form">
    <div class="db-input-group">
      <label>Name</label><input type="text" class="db-input" id="db-name" />
    </div>
    <div class="db-input-group">
      <label>Phone</label><input type="text" class="db-input" id="db-phone" />
    </div>
    <div class="db-input-group">
      <label>Email</label><input type="text" class="db-input" id="db-email" />
    </div>
    <button class="task-btn" onclick="addDbRecord(this)">Add Record</button
    ><button class="task-btn" onclick="exportDbToCsv(this)">Save CSV</button>
  </div>
  <div class="db-grid-container">
    <table class="db-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th style="width: 50px">Action</th>
        </tr>
      </thead>
      <tbody id="db-tbody"></tbody>
    </table>
  </div>
</div>
