<div class="sound-rec-layout">
  <div class="sound-vis">
    <canvas class="sound-wave-canvas" width="246" height="56"></canvas>
  </div>
  <div class="sound-controls">
    <div class="media-btn" id="btn-rec" title="Record">
      <div class="symbol-rec"></div>
    </div>
    <div class="media-btn" id="btn-stop" title="Stop">
      <div class="symbol-stop"></div>
    </div>
    <div class="media-btn" id="btn-play" title="Play">
      <div class="symbol-play"></div>
    </div>
  </div>
  <div style="margin-top: 5px; font-size: 12px" id="sound-status">Ready</div>
</div>
