<div class="task-mgr-layout">
  <div class="task-list" id="task-list"></div>
  <div class="task-btns">
    <button class="task-btn" onclick="switchTask(event)">Switch To</button
    ><button class="task-btn" onclick="endTask(event)">End Task</button
    ><button
      class="task-btn"
      onclick="wm.closeWindow(this.closest('.window').dataset.id)"
    >
      Cancel
    </button>
  </div>
  <div
    style="font-weight: bold; border-bottom: 1px solid gray; margin-bottom: 2px"
  >
    System Monitor:
  </div>
  <div class="task-queue-view" id="task-queue-view"></div>
</div>
